:root {
  
  line-height: 1.5;
  font-weight: 400;


  background-color: #d2d3e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

